coverage==7.13.4
    # via -r test_requirements.in
iniconfig==2.3.0
    # via pytest
packaging==26.0
    # via pytest
pluggy==1.6.0
    # via pytest
pygments==2.20.0
    # via pytest
pytest==8.4.2
    # via -r test_requirements.in
